{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature</title>
   <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    
    <div>
        <div class="header">
            <h1 class="hclass">Nature's <span>Wonders</span></h1>
            <p class="info">Welcome to Nature's Wonders, a tribute to the magnificent beauty and wonder of the natural world. Our website is dedicated to exploring and celebrating the wonders of nature, from the grandeur of towering mountains to the intricate details of delicate flowers. We are passionate about providing a platform for nature enthusiasts to connect with each other and the natural world around them. Discover the latest news, fascinating facts, breathtaking photos, and inspiring stories about the environment and the creatures that inhabit it. Whether you're an avid explorer or simply curious about the world outside your doorstep, our resources will inspire you to appreciate the wonders of nature more deeply.</p>
            <a href="#" class="button">Read more</a>



        </div>

        <!-- ------------------------------------ -->

        <div class="content">

            <div class="data">
                <div class="text">
                    <h2 style="font-size: 35px; color: #fff; padding-left: 150px;">Northern <span class="word">lights</span></h2>
                    <p style="font-size: 18px; font-weight: bold; padding-left: 150px;" >One of the most awe-inspiring wonders of nature is the northern lights. This spectacular display of color and light in the sky, also known as the Aurora Borealis, is caused by electrically charged particles from the sun colliding with particles in the Earth's atmosphere. It creates an ethereal, almost other-worldly atmosphere that is captivating to watch.</p>
                    <a href="https://youtu.be/N-TV_6eIDxw"><img class="yt" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/youtube_logo_icon_168737.png" alt=""></a>
                </div>
                
                    <img style="width: 40%;
                    float: right;
                    background-color: #06a77d;
                    border-bottom-right-radius: 30%;" src="{% static 'img/lights.jpg'%}" alt="Northern Lights">
                    
            </div>

        </div>
            <div class="second" id="title">
                <h1 class="hclass">Grand Canyon</h1>
                <p class="info">Another striking natural wonder is the Grand Canyon. This massive, magnificent gorge carved by the Colorado River over millions of years is a testament to the sheer power of nature. The layers of rock reveal the history of the Earth, making it a geological wonder as well as a breathtaking landscape.</p>
            </div>

            <div class="content2">

                <div class="data2">                    
                        <img style="width: 40%;
                        float: left;
                        background-color: #06a77d;
                        border-bottom-left-radius: 30%;" src="https://wallpapercave.com/wp/wp9243019.jpg" alt="Northern Lights">
                        <div class="texts">
                            <h2 style="font-size: 35px; color: #fff; padding-left: 150px;">The Great Barrier<span class="word" style="color: aqua;"> Reef</span></h2>
                            <p style="font-size: 18px; font-weight: bold; padding-left: 150px;" >The Great Barrier Reef is another of nature's wonders. Located off the coast of Australia, this vast coral reef system is the largest living structure on Earth, and it's home to a vast array of marine life. The beauty and complexity of the coral and the teeming marine creatures make it a wonder of the natural world.</p>
                        </div>
                        
                </div>
    
            </div>
        

        <!-- ------------------------------------ -->
    
        <div class="footer">

            <p style="padding-left: 550px; color: white; font-size: larger;">All Rights Reserved. Powered by <a href="https://instegram.com/azamat.one_" style="color: #87ceeb;">Azamat Duysenbaev</a></p>

        </div>

    </div>

</body>
</html>